<div class="conatiner">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/vandra.png"
        alt="Novandra Wichda Farun"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Novandra Wichda Farun</h1>
      <p class="lead">FullStack Web Dev | Game Dev</p>
    </div>
  </div>
</div>
